* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

header {
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100%;
    padding: 1vw;
    z-index: 1;
    background-color: #ffffff;
    box-shadow: 0 0 10px 0 #57535333;
}

header img {
    height: 4.5%;
    width: 4.5%;
    margin-right: 1%;
}

.nav-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
}

.nav-items {
    height: 100%;
    font-size: 2vw;
    padding-left: 50px;
    color: #000000;
    font-weight: bolder;
    text-decoration: none;
}

#home {
    display: flex;
    flex-direction: row;
    height: 100vh;
    padding-bottom: 5%;
    align-items: center;
}

#home div h1 {
    padding-left: 10%;
    font-size: 8vw;
    color: #1a487e;
}

#home div p {
    font-size: 5vw;
    padding-left: 10%;
    font-weight: bold;
}

#home img {
    padding-top: 20%;
    width: 60%; 
}

#service {
    height: 100vh;
    padding-top: 10%;
    padding-bottom: 5%;
}

#service h2 {
    margin-bottom: 10px;
    font-size: 5vw;
    text-align: center;
}

#service h2 span {
    color: #1a487e;
}

#service p {
    font-size: 2vw;
    text-align: center;
    font-weight: bold;
}

#service h3 {
    margin: 2%;
    font-size: 4vw;
    text-align: center;
    margin-bottom: 1%;
}

#service-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.service-card-items {
    padding: 1%;
    margin: 1.5%;
    border-radius: 0.5vw;
    background-color: #ffffff;
    box-shadow: 0 14px 18px 0 #24111133;
    transition: 0.3s;
    overflow: hidden;
}

.service-card-items:hover {
    box-shadow: 0 8px 16px 0 #00000033;
    transform: translateY(-2vw);
}


.service-card-items img {
    width: 10vw;
    height: 13vw;
    background-color: #f7f4f4;
}

.service-card-items figcaption {
    font-size: 1vw;
    text-align: center;
    font-weight: bold;
}

#gallery {
    height: 160vh;
    padding-top: 10%;
    padding-bottom: 5%;
}

#gallery h2 {
    font-size: 5vw;
    text-align: center;
    margin-bottom: 1%;
}

#gallery-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.gallery-nav-items img {
    width: 10vw;
    height: 10vw;
    opacity: 0.5;
    transition: 0.3s;
}

.gallery-nav-items img:hover {
    opacity: 1;
}

.gallery-nav-items figcaption {
    font-size: 1vw;
    text-align: center;
    font-weight: bold;
}

#gallery-body img {
    width: 20vw;
    height: 25vw;
}

#gallery-body{
    display: grid;
    grid-template-columns: 22vw 22vw 22vw;
    grid-template-rows: 1fr 1fr;
    margin-top: 5%;
    justify-content: center;
    list-style: none;
}

#gallery-body li {
    justify-content: center;
}

#about {
    display: flex;
    flex-direction: row;
    height: 100vh;
    padding-top: 10%;
    padding-bottom: 5%;
}

#about div h2 {
    font-size: 4.5vw;
    margin-top: 10%;
    padding-left: 10%;
    text-align: center;
}

#about div p {
    font-size: 1.5vw;
    padding-left: 10%;
    text-align: justify;
    
}

#about img {
    width: 60%;
}

#contact {
    display: flex;
    flex-direction: row;
    padding-top: 10%;
    height: 100vh;
}

#contact div {
    margin-left: 10%;
}

#contact-header h2 {
    font-size: 4.5vw;
    text-align: justify;
}

#contact-header p {
    font-size: 1.5vw;
    text-align: justify;
}

#contact div form {
    display: flex;
    flex-direction: column;
    width: 30vw;
}

.form-item {
    padding: 2.5%;
    margin-top: 2.5%;
    font-size: 1.5vw;
    border: 1px solid #c7bcbc;
    border-radius: 0.5vw;
}

.input:focus {
    background-color: #e7d6d6;
    outline: none;
    border: none;
}

.submit {
    background-color: #5959a1;
    color: #ffffff;
}

#contact img {
    width: 60%;
    margin-left: auto;
}

footer {
    background-color: #3c3cda;
}

.social-media{
    padding-top: 1vw;
    text-align: center;
}

.social-media a {
    margin: 0.5vw;
    font-size: 2vw;
    color: #8dc5c9;
    text-decoration: none;
}

.footer-info {
    padding-bottom: 10px;
    font-size: 1.5vw;
    font-weight: bold;
    color: #8dc5c9;
    text-align: center;
}

.footer-info i {
    font-size: 1.5vw;
    color: #8dc5c9;
}